@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root /*variables*/
{
    --white-color: #f5f5f5; /*rgb (255, 255, 255)*/
    --black-color: #000;
    --neon-pink: #ff00ff;
    --neon-red: #f50057;
    --neon-blue: #00ffff;
    --light-gray: #909096;
    --dark-gray: #1d1d1d; /*rgb (29, 29, 29)*/
    --deep-black: #181818;
    --deep-deep-black:#191919;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'La Belle Aurore', cursive;
}

body{
    font-family: sans-serif;
    color: var(--white-color);
    background: var(--dark-gray);
}
header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
}
#sound{
    padding: 7px;
    background-color: var(--dark-gray);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: var(--neon-red);
}
.on-off {
  cursor: pointer;
  margin-left: 5px;
}
#on {
  display: none;
  color: var(--neon-blue);
}
#off {
  color: var(--neon-red);
}
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--light-gray);
  font-size: 15px;
  font-family: 'Orbitron';
  letter-spacing: 7px;
  text-shadow: 0 0 10px var(--light-gray);
}
.btns_container .fa-solid{
  font-size: 2rem;
  padding: 10px;
  background-color: var(--deep-black);
  color: var(--white-color);
  cursor: pointer;
}

.btns_container .fa-solid:nth-child(2){
  display: none;
}
.btns_container .fa-solid:hover {
  color: var(--neon-pink);
}

/* ____________________________ASIDE SECTION (NAV BAR) STARTS HERE__________________________________________*/
.aside{
  width: 100%;
  height: 0%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--deep-black);
          /*______overflow_______*/
  overflow: hidden;
  z-index: 3;
}
.show_nav{
  height: 100%;
  overflow: visible;
} 
.aside_wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.logo_section{
  min-height: 26vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-color);
  color: var(--white-color);
}
.logo{
  display: grid;
  place-items: center;
  text-decoration: none;
}
.logo img{
  height: auto;
  width: 45px;
}
.logo > span{               
  font-size: 1.7rem;
  color: var(--white-color);
}

#name_v {
  color: var(--neon-blue)
}
#name_l {
  color: var(--neon-pink)
}
.logo_section > span{
  margin-top: 25px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

/* ____________________________NAV SECTION STARTS HERE__________________________________________*/

.nav_links a{
  display: block;
  text-align: center;
  line-height: 3em;
  text-decoration: none;
  color: var(--neon-blue);
  
}

.nav_links a::before {
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  left:0;
  background-color: var(--light-gray);
}

.nav_links a:hover{
  color: var(--neon-pink);
}
.nav_links a.active{
  color: var(--neon-pink);
}

/* ____________________________SOCIAL ICONS__________________________________________*/
.social_icons{
  display: flex;
  list-style: none;
  margin-bottom: 30px;
}
.social_icons li{
  width: 30px;
  font-size: 1rem;
}
.social_icons li a{
  text-decoration: none;
  color: var(--neon-blue);
}

.social_icons li a:hover{
  color: var(--neon-pink);
}
/* ____________________________HOME PAGE SECTION__________________________________________*/
#section_home{
  min-height: 100vh;
  display:flex;
  align-items: center;
  padding-left: 1.5rem;
}
#heading{
  font-size: 3rem;
  line-height: 45px;
  letter-spacing: -3px;
  color: var(--white-color);
  margin-bottom: 0.5em;
}
.text_zone h1{
  font-size: 3rem;
  line-height: 45px;
  letter-spacing: -3px;
  position: relative;
}
.text-zone h1::before{
  content: '<h1>';
  position: absolute;
  top: -80px;
  left: -10px;
  font-size: 1.2rem;
  font-family: 'La Belle Aurore', cursive;
  color: #666565;
  letter-spacing: 3px;
}
.text-zone h1::after{
  content: '</h1>';
  position: absolute;
  bottom: -10px;
  right: -70px;
  font-size: 1.2rem;
  font-family: 'La Belle Aurore', cursive;
  color: #666565;
  letter-spacing: 3px;
}

.text_zone img{
  width: 35px; 
  height: 35px;
  margin-right: -0.10em;
}
.text_zone .gray_text{
  margin-top: 30px;
  color: #a2a2a3;
  letter-spacing: 3px;
  font-size: 14px;
  position: relative;
  color: var(--light-gray);
}
/*-----------------CONTACT BUTTON-----------------*/
.contact_button{
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  color: #08fdd8;
  margin-top: 50px;
}
.contact_button div{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition:  all .3s ease-in-out;
}
.contact_button span.bg{
  position: absolute;
  width: 0%;
  height: 100%;
  left: -5px;
  top: 0;
  transition: all .3s ease-in-out;
  background-color: #08fdd8;
  transform: skewX(-19deg);
  
}
.contact_button:hover span.bg{
  width: 110%;
}
.contact_button span.base{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 1px solid var(--neon-blue);
  box-sizing: border-box;
}
.contact_button span.text{
  color: var(--neon-blue);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contact_button:hover span.text{
  color: #1d1d1d;
}
.scroll_down{
  display: block;
  font-size: .9em;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 3.3em;
  right: 2em;
  transform: rotate(90deg);
  padding: 0.5em 1em;

}
.scroll_down_right{
  left: 2em;
  right: auto;
}

.scroll_down i{
  transform: rotate(270deg);
  margin-left: .9em;
}
.scroll_down span{
  display: inline-block; /*to make the animation work*/
  animation: scroll .5s linear infinite alternate-reverse;
}
@keyframes scroll{
  0%{
    transform: translateX(-7px);
  }
  100%{
    transform: translateX(7px);
  }
}



@media screen and (min-width: 1100px) {
  header{
    justify-content: flex-end;
  }
  .btns_container{
      display: none;
  }
  .aside{
     width: 10%;
     height: 100%;
      
  }
  .aside_wrapper{
      height: 80%;
  }
  .logo_section{
      min-height: 20vh;
  }
  .logo img{
      width: 50px;
      height: auto;
  }
  .social_icons{
      margin-bottom: 0;
      
  }
  .social_icons li{
      font-size: 1rem;
      text-align: center;
  }
    /* home section */
    #section_home{
      padding-left: 15rem;
  }
  .text_zone h1{
      font-size: 6.3rem;
      line-height: 85px;
      letter-spacing: -6px;
  }
  #heading{
    font-size: 6.3rem;
  }
  .text_zone img{
      width: 65px;
      height: 72px;
  }
  .text_zone .gray-text{
      font-size: 1rem;
  }
  .scroll_down{
    display: flex;
    margin: 5 auto;
    position: absolute;
    height: 5px;
  }
  .scroll_down_right{
   z-index: 3;
  }
 
  
  /* */
  #section_work{
      width: 85%;
      margin: 0 30px 0 auto;
      display: flex;
      flex-direction: column;
  }
  .text_zone_2{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  #header{
      font-size: 2.5rem;
  }
  .text_zone_2 p{
      width: 700px;
      font-size: 14px;
      line-height: 1.5rem;
  }
  .fake_big_2{
      font-size: 25rem;
      font-weight: 700;
      left: 560px;
      top: 0;
  }
  .fake_magicwall{
      padding-left: 8.5rem;
  }
  .fake_magicwall ul li{
      width: 242px;
      height: 236px;
  }
}
