@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); 
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root /*variables*/
{
  --white-color: #f5f5f5; /*rgb (255, 255, 255)*/
  --black-color: #000; /*rgb (0, 0, 0)*/
  --neon-pink: #ff00ff; /*rgb (255, 0, 255)*/
  --neon-red: #f50057; /*rgb (245, 0, 87)*/
  --neon-blue: #00ffff; /*rgb (0, 255, 255)*/
  --light-gray: #909096; /*rgb (144, 144, 150)*/
  --dark-gray: #1d1d1d; /*rgb (29, 29, 29)*/
  --very-dark-gray: #2d2d2e; /*rgb (45, 45, 46)*/
  --deep-black: #181818; /*rgb (24, 24, 24)*/
  --deep-deep-black:#191919; /*rgb (25, 25, 25)*/
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'La Belle Aurore', cursive;
}



body{
    font-family: sans-serif;
    color: var(--white-color);
    background: var(--dark-gray);

}
header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: fixed;  
    transition: none;  
    z-index: 100;
}

#sound{
    padding: 7px;
    background-color: var(--dark-gray);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--white-color);
    z-index: 999999;
}
.sound-cloud{
    font-size: 1.2rem;
    margin: 7px;
    color: var(--neon-red);
}
.on-off {
  cursor: pointer;
  margin-left: 5px;
}
#on {
  display: none;
  color: var(--neon-blue);
}
#off {
  color: var(--neon-red);
}
.clock {
  position: absolute;
  margin: 0 auto;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--light-gray);
  font-size: 15px;
  font-family: 'Orbitron';
  letter-spacing: 7px;
  text-shadow: 0 0 10px var(--light-gray);
}
.btns_container .fa-solid{
  font-size: 2rem;
  padding: 10px;
  background-color: var(--deep-black);
  color: var(--white-color);
  cursor: pointer;
}

.btns_container .fa-solid:nth-child(2){
  display: none;
}
.btns_container .fa-solid:hover {
  color: var(--neon-pink);
}

/* ____________________________ASIDE SECTION (NAV BAR) STARTS HERE__________________________________________*/
.aside{
  width: 30%;
  height: 0%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--deep-black);
          /*______overflow_______*/
  overflow: hidden;
  z-index: 99;
  opacity: 1;
  transition: visibility 0s 0s, z-index 0s 0s;

}
.show_nav{
  height: 100%;
  overflow: visible;
} 
.aside_wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.logo_section{
  min-height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black-color);
  color: var(--white-color);
}
.logo{
  display: grid;
  place-items: center;
  text-decoration: none;
}
.logo img{
  height: auto;
  width: 45px;
}
.logo > span{               
  font-size: 1.7rem;
  color: var(--white-color);
}

#name_v {
  color: var(--neon-blue)
}
#name_l {
  color: var(--neon-pink)
}
.logo_section > span{
  margin-top: 25px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

/* ____________________________NAV SECTION STARTS HERE__________________________________________*/

.nav_links a{
  display: block;
  text-align: center;
  line-height: 3em;
  text-decoration: none;
  color: var(--neon-blue);
  
}

.nav_links a::before {
  content: " ";
  width: 100%;
  height: 1px;
  position: absolute;
  left:0;
  background-color: var(--light-gray);
}

.nav_links a:hover{
  color: var(--neon-pink);
}
.nav_links a.active{
  color: var(--neon-pink);
}

/* ____________________________SOCIAL ICONS__________________________________________*/
.social_icons{
  display: flex;
  list-style: none;
  margin-bottom: 30px;
}
.social_icons li{
  width: 30px;
  font-size: 1rem;
}
.social_icons li a{
  text-decoration: none;
  color: var(--neon-blue);
}

.social_icons li a:hover{
  color: var(--neon-pink);
}
/* ____________________________HOME PAGE SECTION__________________________________________*/
#section_home{
  min-height: 100vh;
  display:flex;
  align-items: center;
  padding-left: 1.5rem;
  z-index: 1;
}
#heading{
  font-size: 3rem;
  line-height: 45px;
  letter-spacing: -3px;
  color: var(--white-color);
  margin-bottom: 0.5em;
}
.text_zone h1{
  font-size: 3rem;
  line-height: 45px;
  letter-spacing: -3px;
  position: relative;
}
.text_zone h1 span::before{
  content: '<script>';
  position: absolute;
  top: -50px;
  font-size: .8rem;
  font-family: 'La Belle Aurore', cursive;
  color: #666565;
  letter-spacing: 3px;
}
.text_zone h1 span::after{
  content: '</script>';
  position: absolute;
  top: 95px;
  right: -70px;
  font-size: 0.8rem;
  font-family: 'La Belle Aurore', cursive;
  color: #666565;
  letter-spacing: 3px;
}


.text_zone img{
  width: 35px; 
  height: 35px;
  margin-right: -0.10em;
}
.text_zone .gray_text{
  margin-top: 30px;
  color: #a2a2a3;
  letter-spacing: 3px;
  font-size: 14px;
  position: relative;
  color: var(--light-gray);
}
.text_zone .gray_text::before{
  content: '<p>';
  position: absolute;
  top: -30px;
  left: -16px;
  right: -10px;
  font-size: .8rem;
  font-family: 'La Belle Aurore', cursive;
  color: #666565;
  letter-spacing: 3px;
}
.text_zone .gray_text::after{
  content: '</p>';
  position: absolute;
  bottom: -30px;
  left: -16px;
  font-size: .8rem;
  font-family: 'La Belle Aurore', cursive;
  color: #666565;
  letter-spacing: 3px;
}
/*-----------------CONTACT BUTTON-----------------*/
.contact_button{
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  color: #08fdd8;
  margin-top: 50px;
}
.contact_button div{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition:  all .3s ease-in-out;
}
.contact_button span.bg{
  position: absolute;
  width: 0%;
  height: 100%;
  left: -5px;
  top: 0;
  transition: all .3s ease-in-out;
  background-color: #08fdd8;
  transform: skewX(-19deg);
  
}
.contact_button:hover span.bg{
  width: 110%;
}
.contact_button span.base{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 1px solid var(--neon-blue);
  box-sizing: border-box;
}
.contact_button span.text{
  color: var(--neon-blue);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contact_button:hover span.text{
  color: #1d1d1d;
}

/* ____________________________Scroll Down Animation__________________________________________*/

.center_do_not_use {
display: block;
margin: auto;
width: 0px;
white-space: nowrap;
position: absolute;
right: 60px;
bottom: 10px;
}
.left_center_do_not_use {
display: block;
margin: auto;
width: 0px;
white-space: nowrap;
position: absolute;
bottom: 10px;
}

.arrow_circle_down {
  display: block;
  width: 40px;
  height: 6rem;
  margin: 0 auto;
}
.left_arrow_circle_down {
  display: block;
  width: 40px;
  height: 6rem;
  margin: 0 auto;
}


.bounce {
  animation: bounce 4s;
animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-12px);
  }
}


/* ____________________________PAGE 2__________________________________________*/

#section_work{
  padding: 5rem 0 5rem 1.5rem;
  position: relative;
  margin-top: 100px;
}

#header{
  font-size: 2.5rem;
  color:var(--neon-blue) ;
  margin-bottom: 30px;
  border: 1px white solid;
  padding: .3rem 1rem;
  width: fit-content;
}
.text_zone_2 p{
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.5em;
  margin-bottom: 30px;
  padding-right: 15px;
}
.text_zone_2 p a{
  color: var(--neon-blue);
  text-decoration: none;
}

.fake_big_2{
  font-size: 15rem;
  position: absolute;;
  color: var(--very-dark-gray);
  margin-bottom: 30px;
  left: 10px;
  right: 10px;
  top: 150px;
  font-weight: 900;
  letter-spacing: -10px;
  z-index: -999;
}

.flipy {
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 black;
  }
  25% {
    text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black;
  }
  50% {
    text-shadow: 0 0 black;
  }
  75% {
    text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black,
      -5px 0 black;
  }
  100% {
    text-shadow: 0 0 black;
  }
}

.fake_magic_wall{
  background-color: rgba(255,255,255,0.1);
}
.fake_magic_wall ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: -webkit-box;
}
.fake_magic_wall li{
  width: 161px;
  height: 160px;
  position: relative;
  overflow: hidden;
}

/*-----------------Parallex Flipping cards-----------------*/

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/*-----------------Scroll Down Animation-------------------*/
.center_do_not_use_section2 {
  display: block;
  margin-bottom:-200px;
  width: 0px;
  white-space: nowrap;
  position: absolute;
  right: 60px;
  bottom: 10px;
  }
  .left_center_do_not_use_section2 {
  display: block;
  margin-bottom:-200px;
  width: 0px;
  white-space: nowrap;
  position: absolute;
  bottom: 10px;
  }

/*-----------------ME & Myself Section / Page 3-----------------*/

#header2{
  font-size: 2.5rem;
  color:var(--neon-blue) ;
  margin-bottom: 30px;
  border: 1px white solid;
  padding: 1.2rem 1rem;
  width: fit-content;
}

#section_about{
  padding-left: 1.5rem;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.text_zone3 p{
  margin-bottom: 15px;
  line-height: 1.5rem;
  text-align: left;
  padding-right: 5rem;
  
}
#quote{
  margin-top: 3rem;
  text-align: left;
}
.tech{
  text-decoration: none;
  color: #08fdd8;
}

.text_zone3{
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.5em;
  text-align: center;
}

.fancy span{
  animation: fadeIn 2s alternate infinite;
  opacity: 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  50%, 100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/*-----------------SCroll Down Animation Section 3-----------------*/
  .center_do_not_use_section3 {
  display: block;
  margin-bottom:-220px;
  width: 0px;
  white-space: nowrap;
  position: absolute;
  right: 60px;
  bottom: 10px;
  }
  .left_center_do_not_use_section3 {
  display: block;
  margin-bottom:-220px;
  width: 0px;
  white-space: nowrap;
  position: absolute;
  bottom: 10px;
  }
  
  .arrow_circle_down {
    display: block;
    width: 40px;
    height: 6rem;
    margin: 0 auto;
  }
  .left_arrow_circle_down {
    display: block;
    width: 40px;
    height: 6rem;
    margin: 0 auto;
  }
  
  .bounce {
    animation: bounce 4s;
  animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
  }

/*-----------------Page 4 Contact & Canvas Electro-----------------*/
#electro{
  margin-top: 300px;
  
}

#h1_form{
  font-size: 2.5rem;
  color:var(--neon-blue) ;
  margin-bottom: 30px;
  margin: 0 auto;
  padding: 1.2rem 1rem;
  width: fit-content;
}
/*-----------------Contact Form-----------------*/
.container_form{
  margin-top: -600px;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact-fome{
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.input-class{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-class, .msg{
  width: 48%;
}
.input-class .input, .msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #41B5E6;
  padding: 10px;
  color: aqua;
  width: 100%;
}
.msg textarea{
  height: 200px;
}
::-webkit-input-placeholder{
  color: aquamarine;
}
::-moz-input-placeholder{
  color: aquamarine;
}

.btn{
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius:  5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  width: 100%;
  box-shadow: 3px 3px 3px #888888;
}
msg,button:hover{
  background-color: var(--neon-blue);
  color: black;
}

/*-----------------Breakpoints-----------------*/

@media screen and (min-width: 1100px) {
  header{
    justify-content: flex-end;
  }

  .btns_container{
      display: none;
  }
  .aside{
     width: 127px;
     height: 100%;
      
  }
  .aside_wrapper{
      height: 80%;
  }
  .logo_section{
      min-height: 20vh;
  }
  .logo img{
      width: 50px;
      height: auto;
  }
  .social_icons{
      margin-bottom: 0;
      
  }
  .social_icons li{
      font-size: 1rem;
      text-align: center;
  }
    /* home section */
    #section_home{
      padding-left: 12rem;
  }
  .text_zone h1{
      font-size: 6.3rem;
      line-height: 85px;
      letter-spacing: -6px;
  }
  #heading{
    font-size: 6.3rem;
  }
  .text_zone img{
      width: 65px;
      height: 72px;
  }
  .text_zone .gray-text{
      font-size: 1rem;
  }
  .scroll_down{
    display: flex;
    margin: 5 auto;
    position: absolute;
    height: 5px;
  }
  .scroll_down_left{
    left: auto;
  }
  
  #section_work{
      width: 85%;
      margin-left : 180px;
      display: flex;
      flex-direction: column;
  }
  .text_zone_2{
      display: flex;
      justify-content: space-between;
      align-items: left;
      justify-content: left;
      max-width: 50%;
  }
  #header{
    max-width: 600px;
    font-size: 3.5rem;
    border: 1px solid white;
    padding: 10px;
  }
  .text_zone_2 p{
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 30px;
    padding-right: 15px;
  }
  
  .fake_big_2{
      font-size: 25rem;
      font-weight: 700;
      left: 560px;
      top: 0;
      margin-top: 150px;
      margin-left: -540px;
      padding: 0;
      z-index: -999;
  }
  .fake_magicwall{
      padding-left: 8.5rem;
  }
  .fake_magicwall ul li{
      width: 242px;
      height: 236px;
  }
}


@media screen and (min-width: 1200px) {
  header{
      justify-content: flex-end;
      align-items: flex-end;
  }
  .btns-container{
      display: none;
  }

  .aside{
      width: 10%;
      height: 100%;
  }
  .aside_wrapper{
      height: 80%;
  }
  .logo_section{
      min-height: 25vh;
  }
  .logo img{
      width: 50px;
      height: auto;
  }
  .social_icons{
      margin-bottom: 0;
      text-align: center;
  }
  .social_icons li{
     
      font-size: 1rem;
  }

  /* home section */
  #section_home{
      padding-left: 13rem;
  }
  .text_zone h1{
      font-size: 6.3rem;
      line-height: 85px;
      letter-spacing: -6px;
  }
  .text_zone img{
      width: 50px;
      height: 72px;
  }
  .text_zone .gray_text{
      font-size: 1rem;
  }
  .scroll_down{
      right: -30px;
      bottom: 3.3rem;
  }
  .scroll_down__left{
      left: 110px;
      right: auto;
  }
  /* part 2 media query bigger screens starts here */
  #section_work{
      width: 85%;
      margin: 0 30px 0 auto;
      display: flex;
      flex-direction: column;
  }
  .text_zone_2{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  #header{
      font-size: 2.5rem;
  }
  .text_zone_2 p{
      width: 700px;
      font-size: 14px;
      line-height: 1.5rem;
  }
  .fake_big_2{
      font-size: 25rem;
      font-weight: 700;
      left: 560px;
      top: 0;
  }
  .fake_magicwall{
      padding-left: 8.5rem;
  }
  .fake_magicwall ul li{
      width: 242px;
      height: 236px;
  }

  /* media query for about section */
  #section_about{
      flex-direction: row;
      padding-left: 13rem;
  }
  .text_zone3 #header{
      width: 500px;
      font-size: 3rem;
  }
  .text_zone3 p{
      width: 600px;
  }
  .skills_charts{
      margin-right: 20%;
  }

}

/*-----------------Media Contact Form-----------------*/
@media screen and (max-width: 600px){
  .container_form{
    margin-top: -400px;
  }
  .contact-fome{
      flex-direction: column;
  }
  .msg text-area{
      height: 80px;
  }
  .input-class, .msg{
      width: 100%;
  }
}

/**-----------------Magic Mouse Test-----------------*/



